.cards__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.card {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  width: 100%;
  background-color: white;
  border-radius: 10px 10px 0 0;
}

.card__title-heart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 0 5%;
}

.card__title {
  color: black;
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__heart {
  color: black;
}

.card__heart:hover {
  opacity: 50%;
}

@media screen and (max-width: 1024px) {
  .cards__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 544px) {
.cards__container {
  grid-template-columns: 1fr;
}
}